<tr>
  <td><%= @transaction["kind"] %></td>
  <td><%= @transaction["date_ocurrence"] %></td>
  <td><%= @transaction["price"] %></td>
  <td><%= @transaction["cpf"] %></td>
  <td><%= @transaction["card"] %></td>
  <td><%= @transaction["time_ocurrence"] %></td>
  <td><%= @transaction["store_owner"] %></td>
</tr>
